[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/akitaonrails/snipmate.vim.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/akitaonrails/snipmate-snippets.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/pastie"]
	path = bundle/pastie
	url = git://github.com/tpope/vim-pastie.git